body{
    background: linear-gradient(-45deg, #ee7752, #a646e0, #23d549, #23d5ab);
	background-size: 800% 800%;
	animation: bodyColor 15s ease-out infinite;
    background-repeat: no-repeat;
}
@keyframes bodyColor{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.top{
    margin-top: 45vh;
    margin-bottom: 45vh;
    display: flex;
    justify-content: center;
}
.top ul{
    display: flex;
    list-style: none;
}
.top ul div{
    padding-left: 10px;
}
.top ul input{
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.hero .image{
    padding-top: 10%;
    display: flex;
    justify-content: center;
}
img{
    height: 300px;
    width: 300px;
}
.image h2{
    font-family: 'Grape Nuts', cursive;
    font-size: 50px;
    padding: 0;
    margin-top: -80%;
    margin-left: 5%;
    color: transparent;
    animation: effect 1s infinite;
}

@keyframes effect {
    0% { color: #fec41f}
    50% { color: #9800f7; }
    100% { color: #ff4745; }
  }
.boy{
    height: 300px;
    width: 300px;
    position: relative;
    top: 50%;
    left: -30%;
}
.duck{
    margin-top: 4%;
    margin-left: -2%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fly{
    margin-top: -10vh;
}
.letter{
    margin: 5% 10% 5% 10%;
}
.letter h1{
    text-align: center;
}
.letter p a{
    color: rgba(0, 0, 0, 0.897);
    font-size: 35px;
    font-weight: 500;
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    background: linear-gradient(-40deg, #ee7752, #a646e0, #23d549, #23d5ab);
    background-size: 800% 800%;
    animation: bodyColor 15s ease-out infinite;
    border: #000 1px solid;

}
.letter p{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}
.card-body{
    border-radius: 5px;
    background: linear-gradient(-20deg, #ee7752, #a646e0, #23d549, #23d5ab);
    background-size: 800% 800%;
    animation: bodyColor 15s ease-out infinite;
    border: #000 1px solid;
}
.card-body p, h2{
    padding: 15px 15px 0px 15px;   
}
.card-body img{
    width: 50px;
    height: 50px;
    padding-left: 15px; 
    padding-bottom: 15px;
}
.man{
    display: flex;
    float: right;
}


@media screen and (max-width:785px) {
    .image{
        margin-top: 15%;
    }
    .duck{
        margin-top: 12%;
    }
    .cake{
        margin-top: 30%;
    }
    img{
        height: 200px;
        width: 200px;
    }
    .image h2{
        font-size: 30px;
    }

    .boy{
        height: 200px;
        width: 200px;
    }
    .top ul li a, .footer-links a{
        font-size: 15px;
    }
    .fly{
        margin-top: -5vh;
    }
    .letter{
        margin: 5%;
    }
    .letter p a{
        font-size: 20px;
    }
    .letter h1{
        font-size: 20px;
    }
    .letter h2{
        font-size: 18px;
    }
    .letter p{
        font-size: 15px;
        line-height: 1.5;
    }
}
@media screen and (max-width:433px) {
    .image{
        margin-top: 25vh;
    }
    .duck{
        margin-top: 27vh;
    }
    .cake{
        margin-top: 50%;
    }
    img{
        height: 150px;
        width: 150px;
    }
    .image h2{
        font-size: 30px;
    }

    .boy{
        height: 150px;
        width: 150px;
    }

}